<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<body>
    <p>Hello world</p>
    <canvas id="myChart" width="200" height="80"></canvas>
    
</body>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: {{list_datostr|safe}},
            datasets: [{
                label: 'Pris contalgin 10 mg',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{pris|safe}}
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>